.pokemon-icon{
    width: 200px !important;
    margin: 0 0 -8px;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}

.img-item{
    height: 150px !important;
}

.center-text{
    text-align: center;
    justify-content: center;
}